* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

button,
i {
  cursor: pointer;
}

.header {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 10;
}

.headerInner {
  width: 95%;
  height: 40px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 28px;
}

.headerInner > .headerLogo {
  display: flex;
}

.headerInner > .headerLogo > i {
  font-size: 25px;
  color: white;
  margin: 5px 0;
}

.headerInner > .headerLogo > img {
  margin-left: 30px;
  width: 300px;
  cursor: pointer;
}

.headerInner > .headerIcons {
  display: flex;
  flex-direction: row;
}

.headerInner > .headerIcons > i {
  color: white;
  font-size: 25px;
  margin: 5px 0;
}

.headerInner > .headerIcons > i + i {
  margin-left: 15px;
}

.headerInner > .headerIcons > span {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 11px;
  background-color: #ffdd00;
  text-align: center;
  line-height: 17px;
  position: relative;
  top: 0;
  right: 10px;
  cursor: pointer;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}

.imageContainerOne,
.imageContainerTwo,
.imageContainerThree {
  width: 33.4%;
  height: 100vh;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
}

.blackContainerOne,
.blackContainerTwo,
.blackContainerThree {
  display: block;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
}

.imageContainerOne:hover .blackContainerOne,
.imageContainerTwo:hover .blackContainerTwo,
.imageContainerThree:hover .blackContainerThree {
  opacity: 0;
  transition: all 0.7s ease;
}

.imageContainerInner {
  color: white;
  text-align: center;
  width: 100%;
  height: 100px;
  z-index: 10;
  position: absolute;
  bottom: 140px;
  left: 0;
  text-transform: uppercase;
  font-family: "ITC Avant Garde Std Md", "Noto Sans KR", sans-serif,
    "Nanum Gothic", "나눔 고딕", AppleGothic, Dotum, "Apple SD Gothic Neo", 돋움,
    sans-serif;
}

.imageContainerInner > h1 + button {
  margin-top: 40px;
}

.imageContainerInner > button {
  width: 150px;
  height: 40px;
  background-color: transparent;
  color: white;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  font-family: "ITC Avant Garde Std Md", "Noto Sans KR", sans-serif,
    "Nanum Gothic", "나눔 고딕", AppleGothic, Dotum, "Apple SD Gothic Neo", 돋움,
    sans-serif;
  font-size: 16px;
  position: relative;
  transition: all 0.3s ease;
  overflow: hidden;
}
.imageContainerInner > button:focus {
  outline: none;
}

.imageContainerInner > button::before {
  content: "";
  color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  top: 0;
  left: -100%;
  transition: all 0.3s ease;
  z-index: -1;
}

.imageContainerInner > button:hover::before {
  transform: translateX(100%);
}

.imageContainerInner > button:hover {
  color: black;
}

.sideBarContainer {
  width: 400px;
  height: 100%;
  background-color: white;
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  transform: translateX(-400px);
  transition: all 0.3s ease;
}

.sideBarContainer > .sideBarInner {
  width: 280px;
  height: 500px;
  color: black;
  font-size: 28px;
  font-weight: bolder;
  text-align: left;
  position: relative;
  top: 100px;
  left: 100px;
  line-height: 70px;
  text-transform: uppercase;
}

.sideBarContainer > .sideBarInner > i {
  cursor: pointer;
}

.sideBarContainer > .sideBarInner > ul > li > a,
.sideBarAddLadies > .innerAddLadies > ul > li > a,
.sideBarAddMan > .innerAddMan > ul > li > a {
  position: relative;
}

.sideBarContainer > .sideBarInner > ul > li > a::before,
.sideBarAddLadies > .innerAddLadies > ul > li > a::before,
.sideBarAddMan > .innerAddMan > ul > li > a::before {
  content: "";
  width: 0;
  height: 3px;
  border-radius: 10px;
  background-color: #fff;
  transition: 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.sideBarContainer > .sideBarInner > ul > li > a:hover::before,
.sideBarAddLadies > .innerAddLadies > ul > li > a:hover::before,
.sideBarAddMan > .innerAddMan > ul > li > a:hover::before {
  width: 100%;
  background-color: black;
}

.sideBarAddLadies,
.sideBarAddMan {
  width: 400px;
  height: 100%;
  background-color: white;
  z-index: 15;
  position: fixed;
  top: 0;
  left: 400px;
  display: block;
  border-left: 1px solid lightgrey;
  transform: translateX(-800px);
  transition: all 0.7s ease;
}

.sideBarAddLadies > .innerAddLadies,
.sideBarAddMan > .innerAddMan {
  left: 70px;
  width: 280px;
  height: 500px;
  color: black;
  font-size: 18px;
  text-align: left;
  position: relative;
  top: 100px;
  left: 100px;
  line-height: 55px;
  text-transform: uppercase;
  padding-top: 70px;
}
